.AboutMe {
  height: 85vh;
  overflow-y: auto;
}

h1 {
  font-size: 70px;
  font-weight: 700;
  margin-top: 50px;
}

@media screen and (max-width: 360px) {
  h1 {
    line-height: 80%;
  }
}

.AboutMe-Image {
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.AboutMe-Col h3 {
  margin: 0 40px 20px 40px;
}

.AboutMe-Col p {
  margin: 0 40px 15px 40px;
  text-align: justify;
}