.AboutMe {
  height: 85vh;
  overflow-y: auto;
}

.AboutMe h1 {
  margin: 30px 0 30px 0;
  font-weight: 700;
  font-size: 60px;
}

.AboutMe-Image {
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.AboutMe-Col h3 {
  margin: 0 40px 20px 40px;
}

.AboutMe-Col p {
  margin: 0 40px 15px 40px;
  text-align: justify;
}

.AboutMe-Button {
  margin-bottom: 40px;
}

@media screen and (max-width: 400px) {
  h3 {
    font-size: 24px;
  }

  p {
    font-size: 12px;
  }
}