.AboutMe {
  height: 85vh;
  overflow-y: auto;
}

h1 {
  margin-top: 50px;
}

.AboutMe-Image {
  max-width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.AboutMe-Col h3 {
  margin: 0 40px 20px 40px;
}

.AboutMe-Col p {
  margin: 0 40px 15px 40px;
  text-align: justify;
}

.AboutMe-Button {
  margin-bottom: 40px;
}