.Footer {
  padding-top: 15px;
  background-color: #343a40;
  padding-bottom: 15px;
}

.Footer-links {
  color: orange;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  margin-right: 20px;
  font-size: 30px;
}

.Footer-links:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
}