.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  color: #fff
}

@media screen and (max-width: 450px) {
  /* .Home {
    height: 100vh;
  } */

  h1 {
    line-height: 95%;
    font-size: 40px;
  }
}

.Home h1 {
  margin-bottom: 30px;
}