.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  color: #fff
}

@media screen and (max-width: 360px) {
  .Home {
    height: 100vh;
  }

.Home h1 {
  font-size: 70px;
  font-weight: 700;
  margin-bottom: 30px;
}