body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Montserrat', sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  letter-spacing: normal;
  line-height: 156px;
  /* text-transform: uppercase; */
  color: #FFFFFF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h4 {
  font-family: 'Montserrat', sans-serif;
}

h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 20.799999237060547px;
  text-transform: none;
  color: rgb(131, 131, 131);
}

p {
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 400px) {
  /* .Home {
    height: 100vh;
  } */

  h1 {
    line-height: 97%;
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }
}