.NavBar-Brand {
  color: orange;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.NavBar-Link:hover {
  text-decoration: none;
}

.NavBar-Link:active {
  color: black;
}

.NavBar-Link {
  font-family: 'Montserrat', sans-serif;
}