.Projects {
  height: 85vh;
  overflow-y: auto;
}

.Projects h1 {
  margin: 30px 0 30px 0;
  font-weight: 700;
  font-size: 60px;
}

.Projects-Row {
  margin: auto;
}

.Projects-Button {
  margin: 20px;
}